# The database file to use/create.
database_file = "watchers.db"

[notification]
	# Email notification settings.
	[notification.email]
		# Enable email notifications.
		enabled = true
		# List of addresses to send a notification Email.
		addresses = [ "example@email" ]
		# The template to use for the email notifications.
		template = "templates/notification.htm"

[webserver]
	# The address for the webserver to listen on.
	address = "http://localhost:8080"

[watcher]
	# Timeout in minutes for the watchers to run their checks.
	timeout = 10
	# The amount of hours the price timestamp should be in the past before adding it to the queue.
	check_interval = 24